
<div class="character-container">
    <div class="character-content">
    <div class="top-row">
        <div class="name-details-container">
            <h1>@Model.Name</h1>
            <p class="character-details">@Model.Race @Model.Subclass @Model.Class, Level @Model.Level</p>
        </div>
    </div>
    <div class="second-row">
        <div class="avatar-container">
            <img class="avatar" src="@Url.Content("/Assets/tiefling-cleric.jpg")" alt="Character Avatar">
        </div>
        <div class="stats-container">
            <div class="stat">
                <p class="stat-value">@Model.AC</p>
                <p class="stat-label">AC</p>
            </div>
            <div class="stat">
                <p class="stat-value">@Model.Speed</p>
                <p class="stat-label">Speed</p>
            </div>
            <div class="stat">
                <p class="stat-value">+@Model.ProficiencyBonus</p>
                <p class="stat-label">Prof</p>
            </div>
            <div class="stat">
                <p class="stat-value">@Model.Dexterity</p>
                <p class="stat-label">Initiative</p>
            </div>
        </div>
    </div>
   <div class="health-slider-container">
       <input class="health-slider" type="range" min="0" max="@Model.MaxHP" value="@Model.HP" disabled/>
       <img class="health-icon"  src="@Url.Content("Assets/heart.png")"/> 
       <p class="health-text">@Model.HP/@Model.MaxHP</p>
   </div>

    <div class="input-squares-container">
        <div class="input-square">
            <input type="number" id="str" name="str" min="1" max="20" value="@Model.Strength">
            <label for="str">Str</label>
        </div>
        <div class="input-square">
            <input type="number" id="dex" name="dex" min="1" max="20" value="@Model.Dexterity">
            <label for="dex">Dex</label>
        </div>
        <div class="input-square">
            <input type="number" id="con" name="con" min="1" max="20" value="@Model.Constitution">
            <label for="con">Con</label>
        </div>
        <div class="input-square">
            <input type="number" id="int" name="int" min="1" max="20" value="@Model.Intelligence">
            <label for="int">Int</label>
        </div>
        <div class="input-square">
                <input type="number" id="wis" name="wis" min="1" max="20" value="@Model.Wisdom">
            <label for="wis">Wis</label>
        </div>
        <div class="input-square">
                <input type="number" id="cha" name="cha" min="1" max="20" value="@Model.Charisma">
            <label for="cha">Cha</label>
        </div>
    </div>
    <div class="skill-container">
        <div class="sixth-row">
            <div class="third underline">
                    <i class="fa-solid fa-person-running char-ul-icon"></i>
            </div>
            <div class="third">
                <i class="fa-solid fa-wand-magic char-ul-icon"></i>
            </div>
            <div class="third">
                <i class="fa-solid fa-shield-halved char-ul-icon"></i>
            </div>
        </div>
    @for (int i = 0; i < 5; i++)
    {
            <div class="item-row">
                <div class="checkbox">
                    <input type="checkbox" id="skill1" name="skill1" class="skill-checkbox-input">
                    <label for="skill1"></label>
                </div>
                <div class="skill-name">
                    <p>Acrobatics</p>
                </div>
                <div class="skill-abbr">
                    <p>DEX</p>
                </div>
                <div class="skill-bonus">
                    <input type="number" id="skill1-bonus" name="skill1-bonus" value="0" min="-999" max="999" step="1">
                </div>
            </div>
        }
    
        </div>
    </div>

   
    @section scripts{
        <script>
            const thirdDivs = document.querySelectorAll('.third');

            document.querySelectorAll('.char-ul-icon').forEach(e => e.addEventListener('click', () => {
                thirdDivs.forEach(div => div.classList.remove('underline'));
                e.parentNode.classList.add('underline');
                console.log("hit");
            }))
        </script>
    }

   


</div>
